* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
}
#pic {
  background-image: url(background.jpg);
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(3px);
}
#signup {
  color: black;
  text-align: center;
  height: 500px;
  width: 35%;
  position: absolute;
  margin-left: 30%;
}
h3 {
  margin-top: 90px;
  margin-bottom: 10px;
}
h5 {
  margin-bottom: 30px;
}
.info {
  width: 200px;
  display: block;
  padding: 5px;
  margin: 15px;
  margin-left: 30%;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(69, 70, 77);
  cursor: pointer;
}
#submit {
  margin-top: 10px;
  background-color: #4051eb;
  color: aliceblue;
  padding: 5px;
  cursor: pointer;
  border-radius: 7px;
  margin-left: 5px;
}
#reseat {
  margin-right: 5px;
  margin-top: 10px;
  padding: 5px;
  cursor: pointer;
  border-radius: 7px;
}
